$secondary-color: #ee1b1b;
$got-font: "game_of_thronesregular";
$secondary-font: "Roboto", sans-serif;

//Generating utility classes for setting margin and padding

$spaceamounts: (1, 2, 3, 4, 5, 6);
$sides: (top, right, bottom, left);
@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)-#{$space}} {
      margin-#{$side}: #{$space}rem;
    }
  }
}

$spaceamounts: (1, 2, 3, 4, 5, 6);
@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
}

$spaceamounts: (1, 2, 3, 4, 5, 6);
@each $space in $spaceamounts {
  .p-#{$space} {
    padding: #{$space}rem;
  }
}
